.modal-overlay {
    background: rgba(49, 49, 49, 0.8);
}

.app__modal--food,
.modal-overlay {
    z-index: 1;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.app__modal--food-item{
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #111;
    color: var(--color-golden);
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.8rem;
    max-width: 360px;
    width: 100%;
    height: auto;
}

.app__modal--food-item-stepper{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.app__modal--food-item-stepper p{
    font-size: 20px;
}

.app__modal--food-item-stepper button{
    width: 30px;
    height: 30px;
    background-color: var(--color-crimson);
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
}

.modal-close {
    margin-top: 1rem;
    align-self: center;
}

@media screen and (min-width: 480px) {
    .app__modal--food-item{
        max-width: 470px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .app__modal--food-item{
        max-width: 690px;
        width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .app__modal--food-item{
        max-width: 1000px;
        width: 100%;
    }
}