.app__menuitem {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.app__menuitem-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app__menuitem-sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app__menuitem-name {
    flex: 1;    
}

.app__menuitem-dash {
    width: 100px;
    height: 1px;
    background: #FAFAFA;
    margin: 0 1rem;
}

.app__menuitem-price {
    display: flex;
    gap: 2rem;
}


.app__menuitem-price-item {
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    background-color: var(--color-white);
    font-size: 1.3rem;
    font-family: var(--font-base);
    cursor: pointer;
    border: none;
}

.app__menuitem-price-item button {
    color: var(--color-black);
}

.app__menuitem-price-item:active {
    transform: scale(0.96);
}